# Node.js
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# Build output
client/build/
server/database.sqlite

# Misc
*.swp
*.swo
.idea/
.vscode/ 